<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/smoothness/jquery-ui-1.10.1.custom.min.css">
</head>
<body>

<div id="main" class="container">
    <div class="row">
        <div class="span12">
	        <h1>Edmunds Widgets</h1>
			<p>The Edmunds Widgets are easy to implement, self-contained tools that enhance the functionality of your page.</p>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="well well-small">
                <h3><a href="/tmv/v2">True Market Value&reg; Widget</a></h3>
                <p>The TMV&reg; widget allows your site visitors to quickly get pricing information on a specific NEW or USED vehicle.</p>
            </div>
        </div>
        <div class="span6">
            <div class="well well-small">
                <h3><a href="/carconfig/v1">New Vehicle Configurator Widget</a></h3>
                <p>The NVC widget allows your site visitors to quickly configure own vehicle.</p>
            </div>
        </div>
    </div>
</div><!--./container -->
</body>
</html>